body {
	width: 100%;
	height: 100%;
	margin: 0px;
	font-family: sans-serif;
	color: white;
	background: url(img/background_fuzzy.png) no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	overflow: hidden;
}

.no-webp body {
	background-image: url(img/background.png);
}

.webp body {
	background-image: url(img/background.webp);
}

header h1 {
	font-size: 5vh;
  	letter-spacing: 0.8vh;
	margin: 2vh;
}

.socials {
    width: fit-content;
	font-size: 1vh;
	display: flex;
  	align-items: center;
  	color: white;
    text-decoration: none;
}

.icons {
	min-height: 2vh;
	max-height: 3.2vh;
	min-width: 2vh;
	max-width: 3.2vh;
}

.social-icons {
	margin: 1vh 2vh 1vh 2vh;
}

.testimonial-icons {
	margin-right: 8px;
}

.socials:hover .icons {
	filter: gray;
	transform: scale(1.1);
	-webkit-filter: grayscale(1);
	-webkit-transform: scale(1.1);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.testimonial-container {
	background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    height: 27vh;
    width: 80vw;
    max-width: 1000px;
    min-height: 200px;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    align-items: center;
    justify-content: space-between;
}

.testimonial-container.enlarge {
	height: max-content;
	max-height: 90vh;
}

.testimonial {
	animation-duration: 1s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-delay: 0.5s;
	margin-top: 30px;
	margin-bottom: 30px;
}

#testimonial-image {
    width: auto;
    height: 50px;
    object-fit: cover;
    margin-right: 20px;
	animation: slideInImage 1s ease-in-out forwards;
	background-color: white;
	border-radius: 5px;
}

#testimonial-text {
    overflow-x: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    display: -webkit-box;
	max-height: 60vh;
}

#testimonial-company {
	margin: 5px;
}
#testimonial-author {
	margin: 5px;
}

.testimonial-author {
    display: flex;
}

.testimonial-card.slide-in .testimonial-text {
    color: rgba(255, 255, 255, 1);
}

#testimonial-links {
	display: none;
}

.nav-button {
	color: white;
    background-color: transparent;
    border: none;
	padding-left: 10px;
	padding-right: 10px;
    font-size: 24px;
    cursor: pointer;
    align-self: center;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#dennis-seiter {
	width: fit-content;
  	float: left;
  	margin-left: 2vh;
}

#dennis-seiter-logo {
	min-height: 1vh;
	max-height: 2.2vh;
	width: auto;
}
